전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv (지역명, 평당분양가격, 연도, 월)
- 지역명2 : 지역명필드는 라벨인코딩하여 추가
- 평당분양가격n : 평당분양가격의 정규화 스케일 조정하여 추가
- 평당분양가격s : 평당분양가격의 표준화 스케일 조정하여 추가
- 연도n : 연도의 정규화 스케일 조정하여 추가
- 연도s : 연도의 표준화 스케일 조정하여 추가
- 월n : 월의 정규화 스케일 조정하여 추가
- 월s : 월의 표준화 스케일 조정하여 추가

In [2]:
import pandas as pd

df = pd.read_csv(r'D:\STUDENTS\KIMCHEOLMIN\ai\Downloads\shareData\전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv', encoding='cp949')
df

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581
2,대구,8080,8080,8077,8101,8267,8274,8360,8360,8370,...,8439,8253,8327,8416,8441,8446,8568,8542,8542,8795
3,인천,10204,10204,10408,10408,10000,9844,10058,9974,9973,...,10020,10020,10017,9876,9876,9938,10551,10443,10443,10449
4,광주,6098,7326,7611,7346,7346,7523,7659,7612,7622,...,7752,7748,7752,7756,7861,7914,7877,7881,8089,8231
5,대전,8321,8321,8321,8341,8341,8341,8333,8333,8333,...,8067,8067,8067,8067,8067,8145,8272,8079,8079,8079
6,울산,8090,8090,8090,8153,8153,8153,8153,8153,8493,...,8891,8891,8526,8526,8629,9380,9192,9190,9190,9215
7,경기,10855,10855,10791,10784,10876,10646,10266,10124,10134,...,10356,10379,10391,10355,10469,10684,10685,10573,10518,10573
8,세종,7601,7600,7532,7814,7908,7934,8067,8067,8141,...,8592,8560,8560,8560,8555,8546,8546,8671,8669,8695
9,강원,6230,6230,6230,6141,6373,6350,6350,6268,6268,...,6365,6365,6348,6350,6182,6924,6846,6986,7019,7008
10,충북,6589,6589,6611,6625,6678,6598,6587,6586,6586,...,6724,6743,6749,6747,6783,6790,6805,6682,6601,6603
11,충남,6365,6365,6379,6287,6552,6591,6644,6805,6914,...,6940,6989,6976,6980,7161,7017,6975,6939,6935,6942
12,전북,6282,6281,5946,5966,6277,6306,6351,6319,6436,...,6583,6583,6583,6583,6542,6551,6556,6601,6750,6580
13,전남,5678,5678,5678,5696,5736,5656,5609,5780,5685,...,5768,5784,5784,5833,5825,5940,6050,6243,6286,6289
14,경북,6168,6168,6234,6317,6412,6409,6554,6556,6563,...,6881,6989,6992,6953,6997,7006,6966,6887,7035,7037
15,경남,6473,6485,6502,6610,6599,6610,6615,6613,6606,...,7125,7332,7592,7588,7668,7683,7717,7715,7723,7665
16,제주,7674,7900,7900,7900,7900,7900,7914,7914,7914,...,7724,7739,7739,7739,7826,7285,7285,7343,7343,7343

In [3]:
df_melted = df.melt(id_vars=['지역'])

In [8]:
df_melted['평당분양가격'] = df_melted['value']

In [26]:
def month(row):
    result = row.split('년')
    return result[0] + '년'

In [28]:
df_melted['연도'] = df_melted['variable'].apply(month)

In [34]:
df_melted['월'] = df_melted['variable'].apply(lambda x : x.split('년')[1])

In [40]:
df_melted.drop(columns=['variable', 'value'], inplace=True)

In [41]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
labeling_data = le.fit_transform(df_melted['지역'])

In [48]:
df_melted['지역명2'] = labeling_data

In [49]:
df_melted

     지역  평당분양가격     연도    월  지역명2
0    서울   18189  2013년  12월     8
1    부산    8111  2013년  12월     7
2    대구    8080  2013년  12월     5
3    인천   10204  2013년  12월    11
4    광주    6098  2013년  12월     4
..   ..     ...    ...  ...   ...
352  전북    6580  2015년   8월    13
353  전남    6289  2015년   8월    12
354  경북    7037  2015년   8월     3
355  경남    7665  2015년   8월     2
356  제주    7343  2015년   8월    14

[357 rows x 5 columns]

In [67]:
# - 평당분양가격n : 평당분양가격의 정규화 스케일 조정하여 추가

from sklearn.preprocessing import MinMaxScaler
sc_s = MinMaxScaler() # x_data를 표준화 시킬 객체
sc_s.fit(s.reshape(-1,1))
sc_s_data = sc_s.transform(s.reshape(-1,1))

In [ ]:
# - 평당분양가격s : 평당분양가격의 표준화 스케일 조정하여 추가

In [53]:
import numpy as np
s = np.array(df_melted['평당분양가격'])

In [66]:
df_melted['평당분양가격n'] = sc_s_data.reshape(1, len(sc_s_data))[0]

In [63]:
sc_s_data

array([[0.8352699 ],
       [0.16612443],
       [0.16406613],
       [0.30509262],
       [0.03246796],
       [0.18006772],
       [0.1647301 ],
       [0.34831684],
       [0.13226213],
       [0.04123232],
       [0.06506872],
       [0.05019587],
       [0.04468495],
       [0.00458137],
       [0.03711573],
       [0.05736671],
       [0.13710909],
       [0.81774119],
       [0.16612443],
       [0.16406613],
       [0.30509262],
       [0.11400305],
       [0.18006772],
       [0.1647301 ],
       [0.34831684],
       [0.13219574],
       [0.04123232],
       [0.06506872],
       [0.05019587],
       [0.04461855],
       [0.00458137],
       [0.03711573],
       [0.05816347],
       [0.15211473],
       [0.81774119],
       [0.23032999],
       [0.16386694],
       [0.31863754],
       [0.1329261 ],
       [0.18006772],
       [0.1647301 ],
       [0.34406746],
       [0.12768076],
       [0.04123232],
       [0.06652945],
       [0.05112542],
       [0.02237567],
       [0.00458137],
       [0.04149791],
       [0.05929221],
       [0.15211473],
       [0.82378328],
       [0.22282717],
       [0.16546046],
       [0.31863754],
       [0.11533099],
       [0.18139566],
       [0.16891309],
       [0.34360268],
       [0.14640462],
       [0.03532302],
       [0.067459  ],
       [0.04501693],
       [0.02370361],
       [0.00577651],
       [0.04700883],
       [0.06646305],
       [0.15211473],
       [0.82922781],
       [0.25184251],
       [0.17648231],
       [0.29154771],
       [0.11533099],
       [0.18139566],
       [0.16891309],
       [0.34971117],
       [0.15264591],
       [0.05072704],
       [0.07097802],
       [0.06261204],
       [0.04435296],
       [0.00843238],
       [0.05331651],
       [0.06573269],
       [0.15211473],
       [0.9187305 ],
       [0.25841578],
       [0.17694708],
       [0.28118983],
       [0.1270832 ],
       [0.18139566],
       [0.16891309],
       [0.33443994],
       [0.15437222],
       [0.04919992],
       [0.06566629],
       [0.06520151],
       [0.04627847],
       [0.00312064],
       [0.05311732],
       [0.06646305],
       [0.15211473],
       [0.88028683],
       [0.25522874],
       [0.18265719],
       [0.29539871],
       [0.13611314],
       [0.18086448],
       [0.16891309],
       [0.30920922],
       [0.16320297],
       [0.04919992],
       [0.06493593],
       [0.06872054],
       [0.04926632],
       [0.        ],
       [0.06274484],
       [0.06679503],
       [0.15304429],
       [0.87198725],
       [0.25549432],
       [0.18265719],
       [0.28982139],
       [0.1329925 ],
       [0.18086448],
       [0.16891309],
       [0.29978089],
       [0.16320297],
       [0.04375539],
       [0.06486953],
       [0.0794104 ],
       [0.04714162],
       [0.01135383],
       [0.06287763],
       [0.06666224],
       [0.15304429],
       [0.90731027],
       [0.25244008],
       [0.18332116],
       [0.289755  ],
       [0.13365646],
       [0.18086448],
       [0.19148795],
       [0.30044486],
       [0.16811633],
       [0.04375539],
       [0.06486953],
       [0.08664763],
       [0.05491003],
       [0.00504615],
       [0.06334241],
       [0.06619746],
       [0.15304429],
       [0.91594184],
       [0.24228139],
       [0.1885665 ],
       [0.289755  ],
       [0.14560786],
       [0.16194144],
       [0.19148795],
       [0.32481243],
       [0.17747826],
       [0.05378129],
       [0.06473674],
       [0.08452294],
       [0.07370029],
       [0.01294735],
       [0.06427196],
       [0.07688732],
       [0.14766616],
       [0.93951265],
       [0.23245468],
       [0.18551225],
       [0.29261005],
       [0.13930018],
       [0.16127747],
       [0.2003851 ],
       [0.31790718],
       [0.19374544],
       [0.06785738],
       [0.06108492],
       [0.08113671],
       [0.06453755],
       [0.00956112],
       [0.07761769],
       [0.08445654],
       [0.14042892],
       [0.97158223],
       [0.23896156],
       [0.18790253],
       [0.29287564],
       [0.14228803],
       [0.16320297],
       [0.21791382],
       [0.31518491],
       [0.19806122],
       [0.05019587],
       [0.07403227],
       [0.08837395],
       [0.06467034],
       [0.01055707],
       [0.08445654],
       [0.10065733],
       [0.14042892],
       [0.97337494],
       [0.23896156],
       [0.17555275],
       [0.29287564],
       [0.14202244],
       [0.16320297],
       [0.21791382],
       [0.31671204],
       [0.19593652],
       [0.05019587],
       [0.07529381],
       [0.09162738],
       [0.06467034],
       [0.01161941],
       [0.09162738],
       [0.11440143],
       [0.14142487],
       [1.        ],
       [0.23869597],
       [0.1804661 ],
       [0.29267645],
       [0.14228803],
       [0.16320297],
       [0.19367904],
       [0.3175088 ],
       [0.19593652],
       [0.04906713],
       [0.07569219],
       [0.09076423],
       [0.06467034],
       [0.01161941],
       [0.09182657],
       [0.13166456],
       [0.14142487],
       [1.        ],
       [0.24075427],
       [0.18637541],
       [0.28331452],
       [0.14255362],
       [0.16320297],
       [0.19367904],
       [0.31511852],
       [0.19593652],
       [0.04919992],
       [0.07555939],
       [0.09102981],
       [0.06467034],
       [0.01487285],
       [0.0892371 ],
       [0.13139898],
       [0.14142487],
       [0.9166722 ],
       [0.24367572],
       [0.18803532],
       [0.28331452],
       [0.14952526],
       [0.16320297],
       [0.20051789],
       [0.32268774],
       [0.19560454],
       [0.03804528],
       [0.07794967],
       [0.10304761],
       [0.06194808],
       [0.01434168],
       [0.09215856],
       [0.13671071],
       [0.14720138],
       [0.87862692],
       [0.24686276],
       [0.18836731],
       [0.28743111],
       [0.15304429],
       [0.16838191],
       [0.25038178],
       [0.33696302],
       [0.19500697],
       [0.0873116 ],
       [0.07841445],
       [0.09348649],
       [0.06254565],
       [0.02197729],
       [0.09275613],
       [0.13770666],
       [0.11128079],
       [0.84708851],
       [0.2480579 ],
       [0.1964677 ],
       [0.32813226],
       [0.15058761],
       [0.17681429],
       [0.23789921],
       [0.33702941],
       [0.19500697],
       [0.08213266],
       [0.0794104 ],
       [0.09069783],
       [0.06287763],
       [0.02928092],
       [0.09010026],
       [0.13996415],
       [0.11128079],
       [0.84755328],
       [0.25934533],
       [0.19474139],
       [0.32096142],
       [0.1508532 ],
       [0.16399973],
       [0.23776642],
       [0.32959299],
       [0.20330655],
       [0.09142819],
       [0.07124361],
       [0.08830755],
       [0.06586548],
       [0.04209548],
       [0.08485492],
       [0.13983135],
       [0.1151318 ],
       [0.83281323],
       [0.26226678],
       [0.19474139],
       [0.32096142],
       [0.1646637 ],
       [0.16399973],
       [0.23776642],
       [0.32594117],
       [0.20317376],
       [0.09361928],
       [0.06586548],
       [0.08804196],
       [0.07575858],
       [0.04495053],
       [0.09468163],
       [0.14036253],
       [0.1151318 ],
       [0.85213465],
       [0.26372751],
       [0.21153974],
       [0.3213598 ],
       [0.17409203],
       [0.16399973],
       [0.23942633],
       [0.32959299],
       [0.20490007],
       [0.09288892],
       [0.06599827],
       [0.08850674],
       [0.06447115],
       [0.04514972],
       [0.09481442],
       [0.13651152],
       [0.1151318 ]])